<h2>Все о нас...</h2>
<br>
<button class="btn btn-primary" onclick="something()">Поднажми!</button>

<style>
   .block {
       height: 200px; background: #777;
   }
</style>

<div class="container">
   <div class="row">
       <div class="span4 block">
       <div class="span4 block">
       <div class="span4 block">
    </div>
</div>
